<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク一覧</title>
	 <link rel="stylesheet" type="text/css" 	href="/css/list_styles.css">

</head>

<body>
	<div class="container">
		<h2>タスク一覧</h2>
		<!-- Flashメッセージの表示 -->
		<p th:if="${message}" th:text="${message}" style="color: blue;"></p>
		<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>ToDo</th>
					<th>詳細</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="todo : ${todos}">
					<td th:text="${todo.id}"></td>
					<td th:text="${todo.todo}"></td>
					<td>
						<a th:href="@{/todos/{id}(id=${todo.id})}">詳細</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/todos/form}">新規登録</a>
	</div>
</body>

</html>
